body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

h1 {
    color: #388e3c;
    font-size: 2.5rem;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    text-align: left;
}

label {
    font-size: 1.1rem;
    color: #555;
    display: block;
    margin-bottom: 8px;
}



